Repository Codeinwp/neve, pull requests merged in 2023-08, with the labels that each got.

#4037 fix: set correct post context for author hooks #4011
  inc/views/partials/post_meta.php
Labels: pr-checklist-complete, pr-checklist-skip

#4053 fix: menu dropdown aria attribute #4020
  inc/views/nav_walker.php
Labels: pr-checklist-complete, pr-checklist-skip

#4034 fix: solve customizer permissions on multisites #4033
  inc/admin/dashboard/main.php
Labels: pr-checklist-complete, pr-checklist-skip

#4049 Update WP version to 6.3
  readme.md
  readme.txt
Labels: pr-checklist-complete, pr-checklist-skip

#4055 Feat/beta workflow
  .github/workflows/create-tag.yml
  .github/workflows/neve-sync-branches.yml
  .releaserc.yml
  grunt/addtextdomain.js
  grunt/concat.js
  grunt/version.js
  grunt/watch.js
  grunt/wp_readme_to_markdown.js
Labels: pr-checklist-complete, pr-checklist-skip

#4065 Check the input type in neve_get_default_meta_value function
  globals/utilities.php
Labels: pr-checklist-complete, pr-checklist-skip

#4064 Notices from my account page
  .github/workflows/playwright.yml
  assets/scss/components/compat/woocommerce/_notices.scss
  e2e-tests/specs/woo-visual-regression/checkout.spec.ts
  e2e-tests/specs/woo-visual-regression/checkout.spec.ts-snapshots/Checkout-page-check-Check-MyAccount-errors-1-chromium-linux.png
  e2e-tests/specs/woo-visual-regression/checkout.spec.ts-snapshots/Checkout-page-check-Check-checkout-errors-1-chromium-linux.png
Labels: pr-checklist-complete

#4057 Fix for confusing palette switch in customizer
  header-footer-grid/Core/Components/PaletteSwitch.php
Labels: pr-checklist-complete, pr-checklist-skip

#4073 fix: neve meta sidebar error on widgets.php [#4069]
  assets/apps/metabox/src/components/Sidebar.js
  inc/admin/metabox/manager.php
Labels: pr-checklist-complete, pr-checklist-skip

#4075 Increase WP min version
  readme.md
  readme.txt
  style.css
Labels: pr-checklist-complete, pr-checklist-skip

#4078 Update sdk
  composer-dev.lock
  composer.lock
Labels: pr-checklist-incomplete
