Repository Codeinwp/neve, pull requests merged in 2023-09, with the labels that each got.

#4085 Images not loading in mega menu with AMP
  assets/scss/components/elements/_mega-menu.scss
Labels: pr-checklist-complete, pr-checklist-skip

#4091 Fix: [i18n] Added text domain to strings
  assets/apps/customizer-controls/src/global-colors/PaletteForm.js
  inc/core/admin.php
Labels: pr-checklist-skip

#4041 feat: show visual cue for disabled title inside editor
  assets/apps/metabox/src/components/MetaFieldsManager.js
  e2e-tests/specs/editor/page.spec.ts
  inc/views/pluggable/metabox_settings.php
Labels: pr-checklist-complete

#4060 Site title font size
  assets/scss/components/elements/navigation/_nav-brand.scss
  e2e-tests/fixtures/customizer/hfg/hfg-logo-component.json
  e2e-tests/specs/customizer/hfg/hfg-alignment-control.spec.ts
  e2e-tests/specs/customizer/hfg/hfg-logo-component.spec.ts
  header-footer-grid/Core/Components/Logo.php
Labels: pr-checklist-complete, pr-checklist-skip

#4044 feat: removed style and builder rollback #3952
  assets/apps/customizer-controls/src/builder-instructions/HFGMigrationNotice.tsx
  assets/apps/customizer-controls/src/builder-instructions/Instructions.tsx
  assets/apps/customizer-controls/src/controls.js
  assets/apps/customizer-controls/src/skin-switcher/Control.js
  assets/apps/customizer-controls/src/skin-switcher/SkinSwitcher.tsx
  header-footer-grid/Core/Builder/Header.php
  inc/core/admin.php
  inc/core/front_end.php
  inc/customizer/controls/react/instructions_section.php
  inc/customizer/options/main.php
Labels: pr-checklist-complete, pr-checklist-skip

#4042 feat: add mastodon icon Codeinwp/neve-pro-addon#2482
  assets/apps/components/src/Common/icons.js
Labels: pr-checklist-complete, pr-checklist-skip

#4097 Fix: [i18n] Added text domain to strings
  assets/apps/customizer-controls/src/global-colors/PaletteForm.js
  e2e-tests/specs/woo-visual-regression/checkout.spec.ts
  inc/core/admin.php
Labels: pr-checklist-complete, pr-checklist-skip

#4109 E2e test for tpc [#4106]
  e2e-tests/specs/tpc/tpc-notice-install.spec.ts
Labels: pr-checklist-complete
