Repository Codeinwp/neve, pull requests merged in 2024-07, with the labels that each got.

#4254 fix: hero btn onboarding on large text
  inc/core/admin.php
Labels: pr-checklist-complete, pr-checklist-skip

#4243 Fix/footer schema
  e2e-tests/specs/customizer/hfg/hfg-copyright-component.spec.ts
  header-footer-grid/Core/Builder/Footer.php
Labels: pr-checklist-complete

#4252 fix: solve css syntax
  inc/views/nav_walker.php
Labels: pr-checklist-complete, pr-checklist-skip

#4262 Removed dashboard widget file ignore from .distignore
  .distignore
Labels: pr-checklist-complete

#4255 New screenshot
  readme.md
  readme.txt
  screenshot.png
Labels: pr-checklist-complete, pr-checklist-skip

#4258 Added new starter site content
  assets/img/starter-content/card-01.jpg
  assets/img/starter-content/card-02.jpg
  assets/img/starter-content/card-03.jpg
  assets/img/starter-content/card-04.jpg
  assets/img/starter-content/card-05.jpg
  assets/img/starter-content/card-06.jpg
  assets/img/starter-content/hero.jpg
  assets/img/starter-content/icon-01.svg
  assets/img/starter-content/icon-02.svg
  assets/img/starter-content/icon-03.svg
  assets/img/starter-content/icon-04.svg
  assets/img/starter-content/icon-05.svg
  assets/img/starter-content/icon-06.svg
  assets/img/starter-content/logo-agency.png
  assets/img/starter-content/map.png
  assets/img/starter-content/neve-hero-2.png
  assets/img/starter-content/neve-marketing-agency-01.png
  assets/img/starter-content/neve-marketing-agency-02.png
  assets/img/starter-content/neve-marketing-agency-03.png
  assets/img/starter-content/neve-marketing-agency-04.png
  assets/img/starter-content/neve-marketing-agency-05.png
  assets/img/starter-content/neve-marketing-agency-06.png
  assets/img/starter-content/neve-marketing-agency-07.png
  assets/img/starter-content/neve-marketing-agency-10.png
  assets/img/starter-content/neve-marketing-agency-12.png
  assets/img/starter-content/neve-marketing-agency-13.png
  assets/img/starter-content/neve-marketing-agency-14.png
  assets/img/starter-content/neve-marketing-agency-15.png
  assets/img/starter-content/neve-marketing-agency-16.png
  assets/img/starter-content/neve-marketing-agency-17.png
  assets/img/starter-content/neve-marketing-agency-18.png
  assets/img/starter-content/neve-marketing-agency-22.png
  assets/img/starter-content/neve-marketing-agency-25.png
  assets/img/starter-content/neve-marketing-icon-1.png
  assets/img/starter-content/neve-marketing-icon-2.png
  assets/img/starter-content/neve-marketing-icon-3.1.png
  assets/img/starter-content/neve-marketing-icon-4.1.png
  assets/img/starter-content/neve-marketing-icon-5.png
  assets/img/starter-content/neve-marketing-icon-6.png
  assets/img/starter-content/neve-marketing-icon-7.png
  assets/img/starter-content/person-hero-2.png
  assets/img/starter-content/team-01.jpg
  assets/img/starter-content/team-02.jpg
  assets/img/starter-content/team-03.jpg
  inc/compatibility/starter-content/about.php
  inc/compatibility/starter-content/contact.php
  inc/compatibility/starter-content/home.php
  inc/compatibility/starter-content/portofolio.php
  inc/compatibility/starter-content/project-details.php
  inc/compatibility/starter-content/theme-mods.php
  inc/compatibility/starter_content.php
Labels: pr-checklist-complete

#4264 Revert starter site menu items
  inc/compatibility/starter-content/contact.php
  inc/compatibility/starter_content.php
Labels: pr-checklist-complete, pr-checklist-skip

#4259 Fixed duplicate id issue with secondary nav menu
  header-footer-grid/Core/Components/SecondNav.php
  header-footer-grid/templates/components/component-nav-secondary.php
Labels: pr-checklist-complete

#4274 [WIP] Translations adjustments
  .github/workflows/diff-translations.yml
  composer.lock
  functions.php
  header-footer-grid/Core/Builder/Footer.php
  inc/admin/dashboard/main.php
  inc/admin/hooks_upsells.php
  inc/core/core_loader.php
  inc/core/front_end.php
  inc/customizer/loader.php
  inc/customizer/options/upsells.php
  tests/php/static-analysis-stubs/config.php
Labels: pr-checklist-incomplete
