Repository Codeinwp/neve, pull requests merged in 2024-03, with the labels that each got.

#4205 fix: disable excerpt more filter when excerpt block is used
  inc/views/template_parts.php
Labels: pr-checklist-complete, pr-checklist-skip

#4209 fix: mega menu opening on tablet
  assets/scss/components/elements/_mega-menu.scss
Labels: pr-checklist-complete, pr-checklist-skip

#4211 Tracking improvements for Header/Footer Builder in Customizer
  assets/apps/customizer-controls/src/builder/components/BuilderItem.tsx
  assets/apps/customizer-controls/src/builder/components/ComponentsPopover.tsx
  assets/apps/customizer-controls/src/builder/components/Slot.tsx
Labels: pr-checklist-complete, pr-checklist-skip

#4218 chore: update comment job name
  .github/workflows/pr_verify_linked_issue.yml
Labels: pr-checklist-skip

#4215 fix: footer id unique
  e2e-tests/specs/customizer/hfg/hfg-footer-mobile.spec.ts
  header-footer-grid/templates/footer-row-wrapper.php
Labels: pr-checklist-complete

#4217 Use Formbricks survey from SDK
  .github/workflows/playwright.yml
  assets/apps/dashboard/src/utils/survey.js
  e2e-tests/specs/admin/dashboard-survey.spec.ts
  e2e-tests/specs/admin/tpc-notice-install.spec.ts
  inc/admin/dashboard/main.php
  package.json
  yarn.lock
Labels: pr-checklist-complete

#4221 fix: remove survey from dash deps
  inc/admin/dashboard/main.php
Labels: small, pr-checklist-complete, pr-checklist-skip
