Repository Codeinwp/neve, pull requests merged in 2025-01, with the labels that each got.

#4345 refactor: onboarding notice
  assets/apps/starter-sites/src/ss-try-button/SSTryButton.tsx
  e2e-tests/specs/admin/tpc-notice-install.spec.ts
  inc/core/admin.php
Labels: pr-checklist-complete, pr-checklist-skip

#4352 fix: remove unnecessary title attributes from brand elements
  header-footer-grid/templates/components/component-logo.php
Labels: pr-checklist-skip

#4354 feat: add new icons for Social Icon widget and custom icon
  assets/apps/components/src/Common/icons.js
  assets/apps/customizer-controls/src/repeater/RepeaterItemContent.js
Labels: pr-checklist-complete, pr-checklist-skip

#4353 fix: use post type label in meta box settings
  inc/admin/metabox/manager.php
Labels: pr-checklist-complete, pr-checklist-skip

#4351 Redirect to Onboarding
  assets/apps/dashboard/src/Components/Content/Start.js
  inc/admin/dashboard/main.php
Labels: pr-checklist-complete, pr-checklist-skip

#4362 refactor: update the description in README
  readme.md
  readme.txt
Labels: pr-checklist-complete, pr-checklist-skip

#4356 Custom Layout Dashboard Refactor
  inc/admin/dashboard/main.php
  inc/admin/hooks_upsells.php
Labels: pr-checklist-complete, pr-checklist-skip

#4360 Footer Improvments
  assets/apps/customizer-controls/src/builder/scss/_customizer-adjustments.scss
  assets/customizer/css/_generic.css
  header-footer-grid/Core/Builder/Footer.php
  inc/customizer/controls/simple_upsell.php
  inc/customizer/controls/simple_upsell_section.php
  inc/customizer/options/upsells.php
  inc/customizer/traits/features_upsell.php
Labels: pr-checklist-complete, pr-checklist-skip

#4358 feat: add starter content notice and dismissal functionality
  assets/apps/customizer-controls/src/controls.js
  assets/apps/customizer-controls/src/starter-content/Notice.js
  assets/apps/customizer-controls/src/starter-content/StarterContentNotice.js
  assets/customizer/css/_generic.css
  inc/customizer/loader.php
Labels: has conflicts, pr-checklist-complete, pr-checklist-skip

#4361 [tbd] feat: blog archive improvements
  assets/apps/components/src/HOC/Responsive.js
  assets/apps/components/src/Style/_radio-image.scss
  assets/apps/components/src/Style/_sizing.scss
  assets/apps/customizer-controls/src/common.js
  assets/apps/customizer-controls/src/ordering/Ordering.js
  assets/apps/customizer-controls/src/ordering/OrderingComponent.js
  assets/apps/customizer-controls/src/range/Range.js
  assets/apps/customizer-controls/src/repeater/Repeater.js
  assets/apps/customizer-controls/src/repeater/RepeaterItem.js
  assets/apps/customizer-controls/src/repeater/RepeaterItemContent.js
  assets/apps/customizer-controls/src/scss/_blog-layout-section.scss
  assets/apps/customizer-controls/src/scss/_ordering.scss
  assets/apps/customizer-controls/src/scss/_repeater.scss
  assets/apps/customizer-controls/src/typeface/Typeface.js
  assets/apps/dashboard/src/Components/Content/Sidebar/PluginsCard.js
  assets/apps/dashboard/src/Components/Content/Welcome.js
  assets/apps/dashboard/src/Components/Header.js
  assets/apps/dashboard/src/Components/Notifications.js
  assets/customizer/css/tabs.css
  assets/customizer/js/tabs.js
  assets/scss/components/elements/blog/_blogpost-covers.scss
  assets/scss/components/elements/blog/_blogpost-grid.scss
  assets/scss/components/elements/blog/_blogpost-index.scss
  assets/scss/components/elements/blog/_typography.scss
  globals/migrations.php
  grunt/concat.js
  inc/compatibility/starter-content/theme-mods.php
  inc/core/migration_flags.php
  inc/core/settings/config.php
  inc/core/styles/frontend.php
  inc/customizer/base_customizer.php
  inc/customizer/defaults/layout.php
  inc/customizer/defaults/single_post.php
  inc/customizer/defaults/utils.php
  inc/customizer/options/base_layout_single.php
  inc/customizer/options/layout_blog.php
  inc/customizer/options/layout_sidebar.php
  inc/customizer/options/layout_single_post.php
  inc/customizer/options/main.php
  inc/customizer/options/typography.php
  inc/customizer/options/upsells.php
  inc/customizer/types/control.php
  inc/views/partials/excerpt.php
  inc/views/template_parts.php
  package.json
  start.php
  tests/test-neve-migration-flags.php
  tests/test-neve-v4-defaults.php
Labels: has conflicts, pr-checklist-incomplete

#4365 PRF: Fixes
  assets/apps/customizer-controls/src/builder-upsell/BannerUpsell.tsx
  assets/apps/customizer-controls/src/controls.js
  assets/apps/customizer-controls/src/ordering/Ordering.js
  assets/apps/customizer-controls/src/scss/_ordering.scss
  assets/apps/customizer-controls/src/scss/_upsell.scss
  assets/apps/customizer-controls/src/starter-content/Notice.js
  assets/apps/customizer-controls/src/starter-content/StarterContentNotice.js
  assets/apps/dashboard/src/Components/Content/ModuleGrid.js
  assets/apps/dashboard/src/utils/module-observer.js
  assets/customizer/css/_generic.css
  assets/customizer/js/upsell.js
  inc/admin/metabox/manager.php
  inc/compatibility/starter-content/theme-mods.php
  inc/compatibility/starter_content.php
  inc/core/admin.php
  inc/customizer/controls/react/upsell_banner.php
  inc/customizer/controls/react/upsell_banner_section.php
  inc/customizer/defaults/layout.php
  inc/customizer/loader.php
  inc/customizer/options/layout_blog.php
  inc/customizer/options/layout_single_post.php
  inc/customizer/options/upsells.php
  inc/views/post_layout.php
  views/page-header.php
Labels: pr-checklist-complete

#4367 fix: safari compatibility with image width on onboarding notice
  inc/core/admin.php
Labels: pr-checklist-skip

#4368 fix: update NevePro compatibility requirements to version 3.0
  functions.php
Labels: pr-checklist-skip

#4369 fix: use 2.9 for required in compatibility with NevePro
  functions.php
Labels: pr-checklist-skip
