Repository Codeinwp/neve, pull requests merged in 2025-02, with the labels that each got.

#4371 refactor: allow closing the upsell modal for Custom Layout
  inc/admin/hooks_upsells.php
Labels: pr-checklist-complete, pr-checklist-skip

#4374 refactor: use upsell link for feature comparison
  inc/customizer/traits/features_upsell.php
Labels: pr-checklist-complete, pr-checklist-skip

#4373 Feat/customizer panels
  assets/apps/customizer-controls/src/scss/_documentation.scss
  assets/apps/customizer-controls/src/scss/_upsell.scss
  assets/apps/dashboard/src/Components/Content/Welcome.js
  assets/apps/dashboard/src/Components/SkeletonLoader.js
  assets/customizer/css/_generic.css
  assets/customizer/js/separator-section.js
  e2e-tests/fixtures/customizer/form-fields/form-fields-setup.json
  e2e-tests/specs/admin/tpc-notice-install.spec.ts
  e2e-tests/specs/customizer/general/custom-global-colors.spec.ts
  e2e-tests/specs/customizer/hfg/hfg-menu-item-description.spec.ts
  e2e-tests/specs/customizer/layout/blog-archive-settings.spec.ts
  inc/admin/dashboard/main.php
  inc/compatibility/starter-content/theme-mods.php
  inc/customizer/base_customizer.php
  inc/customizer/controls/separator_section.php
  inc/customizer/options/buttons.php
  inc/customizer/options/colors_background.php
  inc/customizer/options/form_fields.php
  inc/customizer/options/main.php
  inc/customizer/options/typography.php
  inc/customizer/options/upsells.php
Labels: pr-checklist-incomplete

#4375 chore: translations review
  assets/apps/dashboard/src/Components/Common/Notification.js
  assets/apps/dashboard/src/Components/Content/Changelog.js
  assets/apps/dashboard/src/Components/Content/FreePro.js
  assets/apps/dashboard/src/Components/Content/ModuleGrid.js
  assets/apps/dashboard/src/Components/Controls/ControlWrap.js
  assets/apps/dashboard/src/Components/Header.js
  header-footer-grid/Core/Builder/Footer.php
  inc/admin/dashboard/main.php
  inc/admin/hooks_upsells.php
Labels: pr-checklist-complete

#4381 chore: update Github Actions versions
  .github/workflows/create-tag.yml
  .github/workflows/deploy-npm-package.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy.yml
  .github/workflows/diff-translations.yml
  .github/workflows/e2e-storybook.yml
  .github/workflows/playwright.yml
  .github/workflows/sync-qa.yml
  .github/workflows/test-npm.yml
  .github/workflows/test-php.yml
  .github/workflows/trigger-visual-on-comment.yml
Labels: pr-checklist-complete, pr-checklist-skip

#4378 refactor: load survey via internal pages hook
  assets/apps/dashboard/src/dashboard.js
  assets/apps/dashboard/src/utils/survey.js
  inc/admin/dashboard/main.php
Labels: pr-checklist-complete, pr-checklist-skip
