Repository Codeinwp/neve, pull requests merged in 2025-05, with the labels that each got.

#4395 [Fix] Mobile nav sidebar not working when no nav menu in header
  inc/core/front_end.php
  inc/views/nav_walker.php
Labels: pr-checklist-complete

#4388 Fixed starter sites broken link redirection
  assets/apps/dashboard/src/Hooks/usePluginActions.js
Labels: pr-checklist-complete, pr-checklist-skip

#4396 [Fix] Pagination number input too wide
  assets/scss/components/elements/blog/_pagination.scss
Labels: pr-checklist-complete

#4397 [Fix] Quote block style consistency between editor & frontend
  assets/scss/components/editor/_typography.scss
  assets/scss/components/main/_gutenberg.scss
Labels: pr-checklist-complete

#4398 [Fix] Core login block styles
  assets/scss/components/main/_gutenberg.scss
Labels: pr-checklist-complete

#4399 [Fix] nav caret icon size not working on mobile/tablet
  assets/scss/components/elements/navigation/_nav-menu.scss
Labels: pr-checklist-complete

#4400 [Fix] Adds shortcut to clarify header background controls
  assets/customizer/css/tabs.css
  header-footer-grid/Core/Builder/Abstract_Builder.php
Labels: pr-checklist-complete

#4401 [Fix] License card UI & adds action before theme modules loading
  assets/apps/dashboard/src/Components/Content/Sidebar/LicenseCard.js
  assets/apps/dashboard/src/utils/module-observer.js
  inc/core/core_loader.php
Labels: pr-checklist-complete

#4402 [Feat] Revamp onboarding notice
  assets/apps/starter-sites/src/ss-try-button/SSTryButton.tsx
  assets/img/elementor.svg
  assets/img/gutenberg.svg
  inc/core/admin.php
Labels: pr-checklist-complete

#4404 [Feat] Adds description to the Neve editor options panel
  assets/apps/metabox/src/components/MetaFieldsManager.js
Labels: pr-checklist-complete

#4406 [Feat] Adds image size options to single post thumbnail
  inc/core/styles/frontend.php
  inc/customizer/options/layout_single_post.php
  inc/views/post_layout.php
Labels: pr-checklist-complete

#4405 [Feat] Improved Woo account page styling
  assets/scss/components/compat/woocommerce/_account.scss
  assets/scss/components/compat/woocommerce/_media-queries.scss
Labels: pr-checklist-complete

#4409 [Fix] current_single_content magic tag was over-escaped
  header-footer-grid/Core/Magic_Tags.php
Labels: pr-checklist-complete

#4403 [Chore] Improve scroll to top upsell
  assets/apps/customizer-controls/src/builder-upsell/Upsells.tsx
  inc/customizer/controls/react/upsell_section.php
  inc/customizer/controls/upsells/scroll_to_top_control.php
  inc/customizer/options/main.php
  inc/customizer/options/upsells.php
Labels: has conflicts, pr-checklist-complete

#4415 [Fix] Gallery for WooCommerce conflict & improve product layout
  assets/scss/components/compat/woocommerce/_product.scss
Labels: pr-checklist-complete

#4410 [Chore] Supporting changes for component styles
  header-footer-grid/Core/Components/Abstract_Component.php
  header-footer-grid/Main.php
  start.php
Labels: pr-checklist-complete

#4413 [Feat] Rework nav menu icon options & add shortcut
  header-footer-grid/Core/Components/MenuIcon.php
  header-footer-grid/templates/components/component-menu-icon.php
  header-footer-grid/templates/row-wrapper-mobile.php
Labels: pr-checklist-complete

#4414 [Feat] Footer enhancements
  assets/apps/customizer-controls/src/builder-instructions/Instructions.tsx
  assets/apps/customizer-controls/src/builder/components/Builder.tsx
  assets/apps/customizer-controls/src/builder/scss/_customizer-adjustments.scss
  assets/apps/customizer-controls/src/builder/scss/_instructional-section.scss
  assets/apps/customizer-controls/src/builder/scss/_rows.scss
  assets/apps/customizer-controls/src/scss/_general.scss
  header-footer-grid/Core/Builder/Footer.php
  header-footer-grid/functions-template.php
  header-footer-grid/templates/footer-row-wrapper.php
  inc/core/front_end.php
  inc/core/migration_flags.php
  inc/customizer/options/upsells.php
  tests/test-neve-migration-flags.php
Labels: pr-checklist-complete

#4417 [Feat] Sparks integration improvements
  assets/apps/dashboard/src/Components/Content/Settings.js
  inc/admin/dashboard/main.php
Labels: pr-checklist-complete

#4412 [Fix] Fatal error edge case in WooCommerce checkout
  inc/compatibility/woocommerce.php
Labels: pr-checklist-complete

#4407 refactor: use the new black friday hooks
  assets/apps/components/src/Style/_responsive.scss
  assets/apps/customizer-controls/src/@types/utils.d.ts
  assets/apps/customizer-controls/src/builder-upsell/Upsells.tsx
  assets/apps/dashboard/src/Components/App.js
  assets/apps/dashboard/src/Components/Deal.js
  assets/apps/dashboard/src/scss/_general.scss
  assets/apps/dashboard/src/scss/content/_start.scss
  assets/img/dashboard/black-friday-banner.png
  inc/admin/dashboard/main.php
  inc/core/limited_offers.php
  inc/customizer/loader.php
Labels: pr-checklist-complete, pr-checklist-skip

#4424 Fixed styling options of menu icon
  assets/apps/components/src/Controls/ColorControl.js
Labels: pr-checklist-complete, pr-checklist-skip
